<a data-postID="{{this.id}}"{{#if homepage}} id="toCommentPage"{{/if}} {{#if dashboard}}id = "editPostPage"{{/if}}class="blogPostContainer">
    <div id="postHeaderContainer">
        <div id="postHeader">{{this.post_header}}</div>
        <div id="postCredentials">-{{this.author}}, {{this.createdAt}}</div>
    </div>
    <div id="postContent">{{this.post_content}}</div>
</a>
{{#if homepage}}
    {{#each this.postComments}}
        {{>commentPartial}}
    {{/each}}
{{/if}}