<div id = "createPostContainer"> {{log editedPost}}
    <div id = "createPostCard">
        {{#if createPost}}
        <div id = "createPostHeader">Create New Post</div>
        {{else}}
        <div id = "createPostHeader">Update Post</div>
        {{/if}}
        <div class = "linebreak"></div>
        <div id = "titleContainer">
            <div id = "postTitle">Title</div>
            <input id = "titleInput" {{#if createPost}}{{else}}value = "{{editedPost.post_header}}"{{/if}}>
        </div>
        <div class = "linebreak"></div>
        <div id = "contentContainer">
            <div id = "content">Content</div>
            <textarea id = "contentInput">{{#if createPost}}{{else}}{{editedPost.post_content}}{{/if}}</textarea>
        </div>
        <div class = "linebreak"></div>
        {{#if createPost}}
            <button id = "createButton">Create</button>
        {{else}}
            <button id = "updatePost">Update Post</button>
            <button id = "deletePostButton">Delete</button>
        {{/if}}
    </div>
</div>